venv/
.env
.python-version
prototype/__pycache__/common_utils.cpython-313.pyc
prototype/__pycache__
prototype/extracted_data/
prototype/QA_subset_riksbanken.json
LAVIS/
offload_dir/
__pycache__/
__pycache__
.DS_Store
.ipynb_checkpoints/
json_files/rag_generated_answers_QA_riksbanken_TextProcessor.json
json_files/rag_generated_answers_QA_riksbanken_dual_storage.json
json_files/rag_generated_answers_QA_riksbanken_PageImageProcessor.json
json_files/rag_generated_answers_QA_riksbanken_ImageTextualSummaryProcessor.json
json_files/rag_generated_answers_QA_ChartQA_human_TextProcessor.json
json_files/rag_generated_answers_QA_ChartQA_human_dual_storage.json
json_files/rag_generated_answers_QA_ChartQA_human_PageImageProcessor.json
json_files/rag_generated_answers_QA_ChartQA_human_ImageTextualSummaryProcessor.json
json_files/rag_generated_answers_QA_riksbanken_ImageTextualSummaryProcessor_cmplx_recall.json
json_files/rag_generated_answers_QA_subset_riksbanken_ImageTextualSummaryProcessor.json
QA_coinqa_gold_final.json
QA_coinqa_with_generated_answers.json
embedding_cache
json_files/ChartQA_QA_Mapping.json
coinqa_images